<%= form_with(model: room, local: true) do |form| %>
  <%# <% if room.errors.any? %>
  <%# <% end %>

  <div class="form-group mb-3">
    <%= form.label "Add a new room" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Add room name" %>
  </div>

    <%= form.submit 'Add', class: "btn btn-primary btn-block"%>
<% end %>