<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h5 class="d-flex justify-content-between mb-4">
      <a class="btn-circle" href="/">
        <span>Sports Blog</span>
      </a>
      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn-surround right" %>
        <a class="btn-surround" href="/posts/new" ><span>Create New Blog</span></a>
      <% else %>
        <a class="btn-surround right" href="/users/sign_in" ><span>Log In</span></a>
        <a class="btn-surround" href="/users/sign_up" ><span>Sign Up Now</span></a>
      <% end %>
    </h5>
  </div>
</nav>

<div class="container">
  <%= render partial: "post", locals: { post: @post } %>
</div>