body{
  min-width: 650px;
  background-color: white;
  .post-content{
    background-color: orange;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
    .post-headline{
      justify-content: center;
    }
    .post-text{
      justify-content: center;
    }
    .post-detail{
      justify-content: center;
    }
  }
}
